@media all and (max-width: 470px) {
h2 {font-size: 2.25rem}
/* header & nav section */
.nav--hide,.logo {display: none;}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0rem 2rem;
  }
.icon__svg {
  width:1.75rem;
  height: auto;
  padding: 0rem 1rem;
}
.icon__svg:hover{
  background-color: #d9d9d9;
  transition: background-color 450ms ease-in-out 50ms;
}

/* 1st gray/banner section */
.section {
  flex-flow: column;
  padding: 0;
}
.pic-container,
.video-container,
.col-s__pic-container,
.pic-container
{border-radius: 0px;}

.col, .col-s {
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.text-box-banner {margin: 0rem 1rem 2rem 1rem;}
.text-box-banner h1{font-size: 2.5rem;}
.text-box-banner h2 {
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}
.btn {width: 100%;  }

/*1st white/information section*/
.pic-container--hide,
.pic-desktop
{display: none;}
.pic-mobile {display: block;}

.col-s__pic-container,
.text-box-s
{width: 100%;}

.text-box-s {
  padding-left: 1rem;
}
.text-box-s h3 {
  color: #888;
  letter-spacing: -1px;
  font-size: 1.5rem;
}
.text-box-s p {
  font-size: 1.125rem;
  font-weight: normal;
  color:#999;
}

.text-box-s span{
  padding-top: 0.5rem;
}

.link {padding-bottom: 0rem;}
.link--padding {padding-bottom: 0rem;}

.link a {
    font-size: .935rem;
    color:#24AAFE;
    text-decoration: none;
  }
  .link a:hover {
    color:#24AAFE;
    border-bottom: white solid 2px;
    transition: none 250ms ease-in-out 0ms;
    transition: none 250ms linear 100ms;
  }
.col--border {border:none}

.col-s__container:hover {
  background-color: #fff;
  transition: background-color 450ms ease-in-out 0ms;
}


/*wireframe says 64px between each pic but looks weired, used half */
.col-s__pic-container {
  margin-bottom: 2rem;
  border-radius: 2px;
}

.col-s__container {
  width: 100%;
  box-sizing: border-box;
  flex-flow: column;
  padding: 1rem;
}

/*2nd gray/picture gallery section*/
h2 {padding-top: 0rem;}
.courses__pic-container,
.text-box-courses span,
.text-box-courses p
{display: none;}

.text-box h2 {font-size: 2.25rem}
.text-box-courses h3 {
  margin:1rem 0rem 1.5rem 1rem;/*2rem looks better than wireframe 1rem*/
  color:#888;
  font-weight: 600;
  font-size: 1.25rem;;
  }

.text-box-courses {padding: 0;}
.courses__container--center {margin: 0;}
.courses{margin: 1rem 1rem 0rem 1rem; flex-flow: column;}
.section--mobile{
  padding-bottom: 1.5rem;
  background-color: #fff;
  border-top: #f0f0f0 solid 1px;
  border-bottom: #f0f0f0 solid 1px;
}

.courses__container {
  background-color: #d8d8d8;;
  margin-bottom: 0.5rem;
  padding-bottom: 0rem;
  border-radius: 2px;
}
/* 2nd white/information section & footer*/
.section--flexrow{ margin-top: 1rem;}
.col-s--hide, .text-box--hide {display: none;}

  footer{
  padding: 0rem;
  margin-top: 1.5rem;
  height: auto;
  border: none;
  }
  .copyright{padding: 1rem 0rem 1rem 1rem;}
}
