/* Landscape phablets/some tablets/some desktops and portrait tablets max1024 */
@media all and (min-width: 769px), and (max-width: 1024px) {
h2 {font-size: 2.25rem}

h3 {
  color: #888;
  font-family: 'Open Sans', sans-serif;
}

/* nav section */
header {
  width: 100%;
  display:flex;
  justify-content: space-between;
  height: 4rem;
  color:#999;
}

.logo, .nav {
  display: flex;
  align-items: center;
}
.logo {
  padding-left: 1.25rem;/* different: to adjust with rest*/
  font-size: 1.425rem;
}
.logo__picture{
  padding: 1.25rem 0.5rem 1rem 0rem;
  width: 2.5rem
}
.logo--red {
  color: #b22222;
  font-weight: bolder;
}
.nav  {
  margin-right: 1.5rem;
}
.nav__link{
  text-decoration: none;
  color: #777;
}
.nav--padding{
  padding: 0rem;
  margin: 0rem 0.75rem;
}
.nav__link:hover{
  color: #454545;
  border-bottom: #b22222 solid 2px;
  transition: color 200ms ease-in-out 100ms;
  transition: border 150ms linear 0ms;
}
.icons--hide {display:none;}


/* 1st gray/banner section */
.section {
  flex-flow: column;
  padding: 0;
}
.pic-container,
.video-container,
.col-s__pic-container,
.pic-container
{border-radius: 0px;}

.col, .col-s {
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.text-box-banner {margin: 0rem 2rem 2rem 2rem;}
.text-box-banner h1{font-size: 2.75rem;}
.text-box-banner h2 {
  font-size: 1.625rem;
  padding-bottom: 1.5rem;
}
.btn {width: 50%;  }

/*1st white/information section*/
.pic-container--hide, .pic-desktop
{display: none;}
.pic-mobile {display: block;}

.col-s__pic-container{
  width: 50%;
}

.text-box-s {
  width: 50%;
  height: auto;
  display: flex;
}

.text-box-s {
  padding-left: 2rem;
}
.text-box-s h3 {
  letter-spacing:-1px;;
  font-size: 1.75rem;
  font-weight: 400;
  color: #666;
}
.text-box-s p {
  padding-top: 1.25rem;
  font-size: 1.25rem;
  font-weight: 300;
  color:#999;
}

.text-box-s span{
  padding-top: 1rem;
}

.link {padding-bottom: 2rem;}
.link--padding {padding-bottom: 1rem;}

.link a {
  font-size: 1rem;
  color:#24AAFE;
  text-decoration: none;
  padding: 1rem 1rem 1rem 0rem;
}
.link a:hover {
  color:#24AAFE;
  border-bottom: white solid 2px;
  transition: none 250ms ease-in-out 0ms;
  transition: none 250ms linear 100ms;
}
.col--border {border:none}

.col-s__container:hover {
  background-color: #fff;
  transition: background-color 450ms ease-in-out 0ms;
}
/*wireframe says 64px between each pic but looks weired, used half */
.col-s__pic-container {
  border-radius: 2px;
}
.col-s__container--margin {
  margin-bottom: 2rem;
}

.col-s__container {
  width: 100%;
  flex-flow: row;
  padding: 2rem 2rem 0rem 2rem;
}

/*2nd gray/picture gallery section*/
h2 {padding-top: 0rem;}

.text-box h2 {font-size: 2.5rem}
.text-box-courses {
  padding-bottom: 2rem;
}
.text-box-courses h3 {
  padding:0rem;/*2rem looks better than wireframe 1rem*/
  color:#666;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: -1px;
  }
.text-box-courses p {
  font-size: 1.125rem;
  padding-top: 1.25rem;
  color: #888;
}
.text-box-courses span {
  font-size: 0.85rem;
  font-weight: normal;
  letter-spacing: 0.5px;

}

.courses__container--center {margin: 0;}

.section--mobile{
  background-color: #d8d8d8;
  border: none;
}

.courses {
  justify-content: space-between;
    margin: 2rem 2rem 0rem 2rem;
}
.courses__container {
  flex:0 1 48%;
  background-color: #fff;
  margin-bottom: 2rem;
  padding-bottom: 0rem;
  border-radius: 2px;
}
/* 2nd white/information section & footer*/
.section--flexrow{ margin-top: 1rem;}
.col-s--hide, .text-box--hide {display: none;}

  footer{
  padding: 0rem;
  margin-top: 1rem;
  height: auto;
  border: none;
  }
  .copyright{padding: 1rem 0rem 1rem 2rem;}
}
