body, html {
  font-size: 16px ;
  font-family: 'Open Sans', sans-serif; ;
  color: #777777;
}

#main-container{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

/* fonts */
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(fonts/OpenSans-Regular.tff) format('truetype');
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url(fonts/Lato-Regular.tff) format('truetype');
}
@font-face {
  font-family:'Italianno', 'cursive', serif;
  src: url(Italianno-Regular.tff) format('truetype');
}

/* h1/h2 most important italic/serif, h3 red
 eye catcher important events etc.  */
h1, h2 {padding: 2rem 0rem; font-size: 2.5rem; font-weight: 600; font-family: 'Italianno', 'cursive', serif; font-style: italic; color: #555;}
h2 {text-align: center; padding:1rem 0rem 0rem 0rem;}
h3 {padding: 0rem 0rem 2rem 0rem; font-size: 1.5rem; font-weight:600; color: #b22222;}
h4 {padding: 1rem 0rem 0.75rem 0rem; font-size: 1rem; font-weight: 400; color:#888; line-height: 1.5; font-family:'Lato', sans-serif;}
p {padding-bottom: 1rem; font-size: 1.25rem;  font-weight: 100; color: #888; line-height: 1.5; font-family:'Lato', sans-serif;}
/*1st gray/banner section */
.learn-something h1{font-size: 3rem; font-weight: 700; color:#555;}
.learn-something h3 {font-size: 1.425rem; font-weight: 400; color:#888; line-height: 1.3;}
/*1st white section*/
.info h3 {padding: 0;}
.info span a {font-size: 0.875rem; color:#999;}
.description span {padding-top: 0.75rem;font-size: .875rem; font-weight: 100; display: block; font-family: 'Italianno', cursive;  color:#999}
/* 2nd gray/gallery section */
.courses-info h3 {padding: 1rem 0rem 0.75rem 1.5rem;}
.courses-info span {padding: 0.5rem 0rem 0.75rem 1.5rem; font-size: 1.325rem; font-family: 'Lato', sans-serif; display: block; color:#777}
.courses-info p {padding: 0rem 0rem 0rem 1.5rem; font-size: .875rem; font-weight: 200; color: #999;  line-height: 1.45; letter-spacing: 0.25px}
/* header & nav, footer section */
.logo {font-size: 1.425rem; color:#999;}
.name {color:#b22222 ; font-weight: bolder;}
.nav a {padding:0rem 0.5rem; text-decoration: none; color: #888;}
footer {font-size: 0.75rem;}

/* header section */
header {
  max-width: 100%;
  display:flex;
  justify-content: space-between;
  height: 4rem;
}
.logo, header {
  display: flex; align-items: center;
}
/* align logo and nav, logo has less margin on purpose
doubled the margin compared to the wireframe on puropose*/
.logo {margin-left: 2.75rem;}
.nav{ margin-right: 3rem;}
.logo img {padding: 1.25rem 0.625rem 1rem 0rem;}
.icons {display:none;}

.info a:hover, .nav a:hover {
  color: #454545;
  border-bottom: #b22222 solid 2px;
  transition: color 250ms linear 0ms;
  transition: border 100ms linear 0ms;
}

/* basic code for the two gray/two white sections*/
.section {
  width: 100%;
  height: auto;
  display: flex;
}
.gray {background-color: #d8d8d8;}
.white {background-color: #ffffff;}
.second {padding: 2rem 0rem 2rem 0rem; display: flex;flex-direction: column;}

.asset {
  width: 60%;
  margin: 3rem 0rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: blue;
}

.content {
  width: 40%;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: #f0f0f0 solid 1px;
  background-color: yellow;

}
.container {display: flex;}

/* image 1st gray/white 1st and 2nd sections/videp 2nd white section*/
.image, video{width: 100%; height: auto; overflow:hidden;}
.image img, video {max-width: 100%; height: auto; display: block;}
.description{min-width: 100%; width: 0;}
.pic{width: 35%; height: auto; overflow: hidden;}
.pic img {max-width: 100%; height: auto; display: block;}
img {border-radius: 4px;}
.pic .mobile {display: none;}
/* 2nd white section video */
video{border-radius: 4px;}

/*1st gray (banner) section */
.learn-something{
  border-left: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* banner section button */
button {
  max-width: 400px;
  border: #777777 solid 1px;
  font-size: 1.25rem;
  padding: 1rem;
  display: inline;
  background-color: #4a4a4a; /* #9b9b9b wireframe*/
  text-align: center;
  font-weight: 300;
  border-radius: 0.25rem;
  cursor: pointer;
}
button a {text-decoration: none; color: white;transition: all 250ms linear 0ms;}
button:hover a{text-decoration: none; color:#b2b2b2}
button:active a{color:white;}

/*1st white/information section  */
.info {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
}
.dates {
  width: 100%;
  height: auto;
  display: flex;
  padding: 2rem 0rem 2rem 2rem;
}
.dates:hover{background-color: #d8d8d8;transition: background-color 450ms ease-in-out 0ms;}
.info a {color:#999999; text-decoration: none;}

/* 2nd gray/picture gallery section  */

.courses{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 3rem 4.5rem 0rem 4.5rem;
}
.courses-mobile {
  display: none;
}

.picture-container {
  width: 30%;
  flex-grow: 1;
  background-color: #fff;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-radius: 4px;
}
.picture {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.picture img {max-width: 100%; height: auto; display: block;border-radius: 4px 4px 0px 0px;}
/* two pics in the center*/
.center {margin-left:2rem; margin-right: 2rem;}

@media all and (max-width: 470px) {

.pictures {
  display: none;
}

}

/* footer section */

footer{
  height: 5rem;
  border-top:#f0f0f0 solid 1px;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.copyright {
  margin-left: 3rem;
}
.nav.footer {
  align-items: flex-start;
}
.nav.footer a {
  margin: 0;
  padding: 0;
  padding: 0rem 0.25rem;
}
