body, html {
  box-sizing: border-box;
  font-size: 16px ;
  font-family:'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#main-container{
  display: flex;
  flex-flow: column;
}
/* fonts */
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(font/OpenSans-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(font/OpenSans-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(font/OpenSans-SemiBold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(font/Roboto-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(font/Roboto-Regular.ttf) format('truetype')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(font/Roboto-Medium.ttf) format('truetype')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(font/Roboto-Bold.ttf) format('truetype')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Italianno', serif;
  font-style: normal;
  font-weight: 400;
  src: local('Italianno'), local('Italianno-Regular'), url(font/Italianno-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* h1/h2: italic/serif looks educated,
h3 red: eye catcher important events etc.  */
h1 {
  padding: 2rem 0rem 2rem 0rem;
  font-size: 3rem;
  font-weight: 700;
  color: #666;
  font-family: 'Italianno', 'cursive', serif;
  font-style: italic;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #888;
  font-family: 'Lato', sans-serif;
}

h3 {
  padding: 0rem 0rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight:600;
  color: #b22222;
  font-family: 'Lato', sans-serif;
}

p  {
  padding-top: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
  color: #888;
  line-height: 1.5;
}

/* header & nav section */
header {
  width: 100%;
  display:flex;
  justify-content: space-between;
  height: 4rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba(29, 29, 29, 0.1);
}

.logo, .nav {
  display: flex;
  align-items: center;
}
.logo {
  padding-left: 1.25rem;/* different: to adjust with rest*/
  font-size: 1.425rem;
  display: flex;
}
.logo__icon{
  padding: 1rem 0.5rem 1rem 0rem;
  width: 3rem;
}
.logo__text {
  color: #888;
}
.logo--red {
  color: #b22222;
  font-weight: bolder;
}
.nav  {
  margin-right: 1.5rem;
}
.nav__link{
  text-decoration: none;
  color: #777;
  font-size: 1.125rem;
}
.nav--padding{
  padding: 0rem;
  margin: 0rem 0.75rem;
}
.nav__link {color: #888;}
.nav__link:hover{
  color: #666;
  border-bottom: #b22222 solid 2px;
  transition: color 200ms ease-in-out 100ms;
  transition: border 150ms linear 0ms;
}
.icons--hide {display:none;}

/* main overall */
.section {
  width: 100%;
  height: auto;
  display: flex;
  padding: 2rem 0rem 2rem 0rem;
}
.section--margintop {
  margin-top: 4rem;
}
.section--gray {background-color: #d8d8d8;}
.section--white {background-color: #ffffff;}
.section--column {
  padding : 0rem 0rem 2rem 0rem;
  display: flex;
  flex-direction: column;
}

.col, .col-s {
  width: 58%; /*changed the design a little on purpose: original 60%*/
  margin-left: 1.5rem;
  height: auto;
  display: flex;
  flex-flow: column;
}
.col {margin-right: 0.5rem;}
.col__container {
  max-width: 100%;
}
.col-s {width: 42%;}/*changed the design a little on purpose: original 40%*/

.pic-container,
.col-s__pic-container,
.courses__pic-container{
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 4px;
}

.pic-container img,
.courses__pic-container img,
.pic-desktop,
.video-container,
.pic-mobile{
width:100%;
height: auto;
display: block;}

/*1st gray/banner section */
.col-s--center {justify-content: center;}

.text-box-banner {margin: 0rem 1.5rem 2rem 1.5rem;}
.text-box-banner h2 {
  padding-bottom: 2rem;
  line-height: 1.4;
}

.btn{
  background-color: #4a4a4a; /* #9b9b9b wireframe*/
  font-size: 1.25rem;
  width: 60%;
  padding: 1rem 0rem;
  display: block;
  text-align: center;
  font-weight: 400;
  border-radius: 0.25rem;
  cursor: pointer;
  border: #0A0A0A solid 1px;
  color: #f0f0f0;

}
.btn {text-decoration: none;}
.btn_text {padding: 0rem 1rem;}

.btn_text:hover {
  color:#b2b2b2;
  transition: all 250ms linear 0ms;
}
.btn_text:active {
  text-decoration: none;
}
.btn_text:active {
  text-decoration: none;
}

/*1st white/information section  */
.text-box h2 {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #666;
  font-family: 'Italianno', 'cursive', serif;
  font-style: italic;
}

.text-box__name-font {
  padding: 1rem 0rem;
  font-size: .935rem;
  font-weight: 500;
  display: block;
  color:#777;
}

.col--border {border-left: #f0f0f0 solid 1px;}

.col-s__container {
  width:100%;
  height: auto;
  display: flex;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
}

.col-s__container:hover {
  background-color: #e5e5e5;
  transition: background-color 450ms ease-in-out 0ms;
}
.col-s__pic-container {
  width: 35%;
  height: auto;
  overflow: hidden;
}
.pic-mobile {display: none;}

.text-box-s {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0rem 1.5rem;
}

.text-box-s p {
  font-size: 1.125rem;
  letter-spacing: -.25px;
}
.link {padding-top: 1rem;}

.link a {
  font-size: 1rem;
  color:#666;
  text-decoration: none;
}

.link a:hover {
  color: #888;
  border-bottom: #b22222 solid 2px;
  transition: color 250ms ease-in-out 0ms;
  transition: border 150ms linear 0ms;
}

/* 2nd gray/picture gallery section  */
.text-box--aligncenter {text-align: center;}
.section--nopadding {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.courses{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem 4.5rem 0rem 4.5rem;
}
.courses-mobile {
  display: none;
}
.courses__container {
  flex: 1 1 30%;
  background-color: #fff;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-radius: 4px;
}
.courses__pic-container{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.courses__pic-container{
  border-radius: 4px 4px 0px 0px;
}
/* two pics in the center*/
.courses__container--center {
  margin-left:2rem;
  margin-right: 2rem;
}

.text-box-courses {
  margin: 0;
  padding: 1.5rem 0rem 1rem 1rem;
}

.text-box-courses h3 {
}

.text-box-courses p {
  padding: 0.85rem 0rem 0.5rem 0rem;
  font-size: 1.0625rem;
  font-weight: 400;
  color: #999;
  letter-spacing: .25px;
}
.text-box-courses span{
  display: block;
  padding-top: ;
  font-size: 0.85rem;
  font-weight: 300;
  color:#999;
  line-height: 1.5;
  letter-spacing: .25px;
}

/* 2nd white/information section*/
.section--flexrow{
  display: flex;
  margin-top: 2rem;
}

.col__container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.video-container {border-radius: 4px;}

/* footer section */
footer{
  font-size: 0.75rem;
  color: #999;
  width:100%;
  height: 4rem;
  border-top:#f0f0f0 solid 1px;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.nav--s-font {font-size: 0.75rem;}
.nav--alignitems{align-items: flex-start;}
.copyright {padding-left: 1.5rem;}
