body, html {
  font-size: 16px ;
  font-family: 'Open Sans', sans-serif; ;
  color: #777;
}

#main-container{
  display: flex;
  flex-flow: column;
  width: 100%;
}

/* fonts */
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(fonts/OpenSans-Regular.tff) format('truetype');
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url(fonts/Lato-Regular.tff) format('truetype');
}
@font-face {
  font-family:'Italianno', 'cursive', serif;
  src: url(Italianno-Regular.tff) format('truetype');
}
/* h1/h2: italic/serif looks educated,
h3 red: eye catcher important events etc.  */
h1, h2{
  padding: 0rem 0rem 2rem 0rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #555;
  font-family: 'Italianno', 'cursive', serif;
  font-style: italic;
}
h2 {
  padding: 1rem 0rem 0rem 0rem;
  display: block;
  background-color: blue;
  text-align: center;
}
h3 {
  padding: 0rem 0rem 1.5rem 0rem;
  font-size: 1.5rem;
  font-weight:600;
  color: #b22222;
}
h4 {
  padding: 1rem 0rem 1rem 0rem;
  font-size: 1rem;
  font-weight: 300;
  color:#555;
  line-height: 1.5;
  font-family:'Lato', sans-serif;
}
p  {
  padding: 0rem;
  font-size: 1.25rem;
  font-weight: 100;
  color: #888; line-height: 1.5;
  font-family:'Lato', sans-serif;
}

@media all and (max-width: 470px) {
  h2 {font-size: 2.25rem}
}

/* header section */
header {
  width: 100%;
  display:flex;
  justify-content: space-between;
  height: 4rem;
  color:#999;
}

.logo, .nav {
  display: flex;
  align-items: center;
}
.logo {
  padding-left: 2.25rem;/* different: to adjust with rest*/
  font-size: 1.425rem;
}
.logo__picture{
  padding: 1.25rem 0.5rem 1rem 0rem;
  width: 2.5rem
}
.logo--red {
  color: #b22222;
  font-weight: bolder;
}
.nav  {
  margin-right: 2.5rem;
}
.nav__link, .nav-footer__link{
  text-decoration: none;
  color: #777;
}
.nav--padding, .nav-footer--padding{
  padding: 0rem;
  margin: 0rem 0.75rem;
}
.nav__link:hover, .nav-footer__link:hover{
  color: #454545;
  border-bottom: #b22222 solid 2px;
  transition: color 250ms ease-in-out 100ms;
  transition: border 200ms linear 0ms;
}

.icons--hide {display:none;}

@media all and (max-width: 470px){
.nav--hide,.logo {display: none;}

.icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0rem 2rem;
  }
.icon__svg {
  max-width: 100%;
  height: auto;
  padding: 1rem 1rem
}
.icon__svg:hover{
  background-color: #d9d9d9;
  transition: background-color 450ms ease-in-out 50ms;
}
}

/* main and 1st gray/banner section */
.section {
  width: 100%;
  height: auto;
  display: flex;
}
.section--gray {background-color: #d8d8d8;}
.section--white {background-color: #ffffff;}
.section--column {
  padding: 2rem 0rem 2rem 0rem;
  display: flex;
  flex-direction: column;
}
.section__container{display: flex;}

.col, .col-s {
  width: 60%;
  margin: 3rem 0rem 3rem 3rem;
  height: auto;
  display: flex;
  flex-flow: column;
}
.col-s {
  width: 40%;
  padding-right: 3rem;
}

/*all assets on site */
.col__pic-container,
.col__video-container,
.col-s__pic-container,
.courses__pic-container{
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 4px;
}
.col__pic-container img,
.col__video source,
.col-s__pic-desktop,
.col-s__pic-mobile,
.courses__pic-container img {
max-width:100%;
height: auto;
display: block;}

.col--center-content {justify-content: center;}
.col-s__banner {margin: 0rem 0rem 2rem 0rem;}

.col-s__banner h1{
  font-size: 3rem;
  font-weight: 700;
  color:#555;
}
.col-s__banner h3 {
  font-size: 1.425rem;
  font-weight: 400;
  color:#888;
  line-height: 1.3;
}
.col-s__banner button{
  background-color: #4a4a4a; /* #9b9b9b wireframe*/
  font-size: 1.25rem;
  width: 60%;
  padding: 1rem 0rem;
  display: inline;
  text-align: center;
  font-weight: 300;
  border-radius: 0.25rem;
  cursor: pointer;
  border: black solid 1px;
}
.col-s-btn__link {
  text-decoration: none;
  color: white;
  padding: 0rem 1rem;
  transition: all 250ms linear 0ms;
}
.col-s-btn__link:hover {
  text-decoration: none;
  color:#b2b2b2;
}
.col-s-btn__link:active {
  text-decoration: none;
}

@media all and (max-width: 470px){
  .col__pic-container,
  .col__video-container,
  .col-s__pic-container,
  .courses__pic-container{border-radius: 0px;}
  .section {flex-flow: column;}

  .col, .col-s {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
.col-s__banner {margin: 2rem 1rem;}
.col-s__banner button{width: 100%;}

.col-s__banner h1{font-size: 2.5rem;}
.col-s__banner h3 {font-size: 1.25rem;}
}
}

/*1st white/information section  */
.col__text {padding-top:2rem;}

.col__name {
  padding: 1rem 0rem;
  font-size: .875rem;
  font-weight: 100;
  display: block;
  font-family: 'Italianno', cursive;
  color:#999
}

.col--border {border-left: #f0f0f0 solid 1px;}

.col-s__container {
  width: calc(100%-2rem);
  height: auto;
  display: flex;
  padding: 2rem 0rem 2rem 2rem;
}

.col-s__container:hover {
  background-color: #e5e5e5;
  transition: background-color 450ms ease-in-out 0ms;
}
.col-s__pic-container {
  width: 35%;
  height: auto;
  overflow: hidden;
}
.col-s__pic-mobile {display: none;}

.col-s__text {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
}

.col-s__text h3 {padding: 0;}
.col-s__text a {
  font-size: 0.875rem;
  color:#24AAFE;
  text-decoration: none;
  }

  .col-s__text a:hover {
    color: #888;
    border-bottom: #b22222 solid 2px;
    transition: color 250ms ease-in-out 0ms;
    transition: border 150ms linear 0ms;
  }

@media all and (max-width: 470px) {
.col__pic-container--hide, .col-s__pic-desktop{display: none;}
.col-s__pic-container, .col-s__text {width: 100%;}
.col-s__pic-mobile {display: block;}
.col--border {border:none}

.col-s__container:hover {
  background-color: #fff;
  transition: background-color 450ms ease-in-out 0ms;
}
/*wireframe says 64px between each pic but looks weired, used half */
.col-s__container--margin-bottom {margin-bottom:1rem;}
.col-s__pic-container {margin-bottom: 2rem;}
.col-s__container {
  width: calc(100% -2rem);
  flex-flow: column;
  padding: 1rem 1rem;
}
.col-s__text {
}


/* display none messed up the pictures */
  .events:hover{
      background-color: white;
  }
  .events {
    flex-flow: column;
    padding:  1rem 1rem 2rem 1rem;
    background-color: white;
  }

  .pic {width: 100% }
  .pic img.desktop {
    display: none;
  }
  .pic img.mobile {
    display: block;
  }
}
/* 2nd gray/picture gallery section  */

.courses{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 3rem 4.5rem 0rem 4.5rem;
}
.courses-mobile {
  display: none;
}
.courses__container {
  width: 30%;
  flex-grow: 1;
  background-color: #fff;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-radius: 4px;
}
.courses__pic-container{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.course__info {
  padding: 1rem 0rem 0.5rem 1.5rem;
}
.course__info h3 {padding: 0;}
.course__info span {
  padding: 1.125rem 0rem 0.5rem 0rem;
  font-size: 1.325rem;
  font-family: 'Lato', sans-serif;
  display: block;
  color:#777
}
.course__info p {
  font-size: .875rem;
  font-weight: 200;
  color: #999;
  line-height: 1.45;
  letter-spacing: 0.25px
}
.courses__pic-container{border-radius: 4px 4px 0px 0px;}
/* two pics in the center*/
.center {margin-left:2rem; margin-right: 2rem;}

@media all and (max-width: 470px) {
  .headline {padding-top: 0rem;}
  .headline2 {padding-bottom: 1rem;}
.gray {background-color: white}
.courses {display: none;}

.courses-mobile {
  margin: 0rem 1rem;
  display: flex;
  flex-flow: column;
}
.course__info {
  margin: 1rem 0rem 0rem 0rem;
  background-color: #d8d8d8;
  border-radius: 2px;
}
.course__info h3 {
  padding: 1.5rem 0rem 1.5rem 1rem;
  font-size: 1.25rem;
  color: #666;
}
  img, video {border-radius: 0px;}
}
/* footer section */
footer{
  font-size: 0.75rem;
  width:100%;
  height: 4rem;
  border-top:#f0f0f0 solid 1px;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.nav-footer{padding-right: 3rem;}
.copyright {padding-left: 3rem;}

@media all and (max-width: 470px) {
  footer{
    padding: 0.5rem 0rem 1rem 0rem;
    border: none;
    justify-content: center;
    height: auto;
  }
  .nav.footer {display: none;}
  .copyright {padding: 0rem;}
}
